.App {
  width: 500px;
  margin: 30px auto 30px auto;
  padding: 60px;
  background-color: aliceblue;
}

.inputline-container {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-top: 26px;
}

.message-container {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

